### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
*.locked

### Next.js
/node_modules
/.next/
/out/
.env*
.vercel
*.tsbuildinfo
next-env.d.ts
